/* Fondo Principal */
body {
  background-image: url('../images/fondo_page_3.jpg'); /* Ruta a tu imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Opcional: fija la imagen al fondo */
  color: #003366; /* Azul Oscuro */
  margin: 0;
  padding: 0;
}

/* Estilo para botones y enlaces */
button, .btn, a { 
  color: #FFFFFF; /* Blanco */
}

button:hover, .btn:hover, a:hover {
  background-color: #b7410e0b; /* Rojo Arcilla */
  color: #FFFFFF; /* Blanco */
  border-radius: 10px;
}

/* Estilo para encabezados */
h1, h2, h3, h4, h5, h6 {
  color: #2E8B57; /* Verde Esmeralda */
}

/* Estilo para textos secundarios */
.secondary-text {
  color: #FFFFFF; /* Blanco */
}
