/* Asegura que el cuerpo de la página ocupe toda la altura de la ventana */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Contenedor principal que crecerá para llenar el espacio disponible */
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que la altura mínima de la página sea igual a la altura de la ventana */
}

main {
    flex: 1;
    /* Asegura que el contenido principal ocupe el espacio entre el header y el footer */
}

/* Estilo para el Footer */
.footer {
    background-color: rgba(212, 168, 74, 0.596); /* Color de fondo */
    color: #ebe5ce; /* Beige Claro */
    padding: 20px 45px;
    text-align: center;
    position: relative; /* Para usar junto con el contenedor principal */
    width: 100%; /* Ocupa todo el ancho de la página */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.contact-info, .hours, .footer-links, .newsletter {
    flex: 1;
    margin: 10px;
}

.contact-info h3, .hours h3, .footer-links h3, .newsletter h3 {
    color: #ebe5ce; /* Beige Claro */
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a {
    color: #faf9f6; /* Beige Claro */
    text-decoration: none;
}

.footer-links ul li a:hover {
    color: #D4A017; /* Amarillo Ocre */
}

.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #c1e3d4; /* Amarillo Ocre */
    color: #660022;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #b7410e0b; /* Rojo Arcilla */
}

.footer-bottom {
    color: #ebe5ce; /* Beige Claro */
    padding: 10px 0;
    font-size: 0.8rem;
}
