/* Barra de Navegación */
.navbar {
    background-color: rgba(23, 20, 20, 0.497) !important; /* Fondo semitransparente oscuro */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacio entre el logo/texto y el menú */
    padding: 0 15px; /* Ajusta el padding si es necesario */
}

.navbar-brand-container {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 60px; /* Ajusta el tamaño del logo */
    border-radius: 50%;
    margin-right: 15px; /* Espacio entre el logo y el texto */
}

.restaurant-name {
    color: white !important; /* Color del texto del restaurante */
    font-size: 1.5rem; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    font-family: 'Bona Nova', serif; /* Usa la fuente Bona Nova */
}

/* Estilo del menú de navegación */
.navbar-nav {
    display: flex;
    align-items: center; /* Alinea verticalmente los ítems */
    justify-content: flex-end; /* Alinea el menú a la derecha */
    flex-grow: 1;
}

.navbar-nav .nav-item {
    margin: 0 15px; /* Ajusta el margen entre los elementos del menú */
    position: relative; /* Necesario para posicionar el separador */
}

.navbar-nav .nav-link {
    color: white !important; /* Color de los enlaces del menú */
    text-transform: uppercase;
    font-weight: bold; /* Aplica negrita */
    font-family: 'Bona Nova', serif; /* Usa la fuente Bona Nova */
    font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
}

.navbar-nav .nav-link:hover {
    color: #D4A017 !important; /* Amarillo Ocre */
}

/* Separador vertical */
.navbar-nav .separator {
    width: 2px; /* Ancho del separador */
    background-color: white !important; /* Color del separador */
    height: 24px; /* Altura del separador */
    margin: 0 15px; /* Espacio alrededor del separador */
}

/* Estilo del botón del carrito */
.cart-button, .user-button {
    background: none !important; /* Elimina el fondo del botón */
    border: none !important; /* Elimina el borde del botón */
    color: white !important; /* Color del ícono */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 1.5rem; /* Tamaño del ícono */
    display: flex;
    align-items: center;
}

/* Estilo para el botón de alternancia del menú */
.navbar-toggler {
    border: none; /* Elimina el borde del botón */
}

.navbar-toggler-icon {
    background-image: none !important; /* Elimina el fondo por defecto */
    border: 1px solid white; /* Borde blanco para el contorno */
    border-radius: 4px; /* Borde redondeado */
    width: 30px; /* Ajusta el ancho */
    height: 30px; /* Ajusta la altura */
}

.navbar-toggler-icon::before {
    content: "\2630"; /* Unicode para el icono de hamburguesa */
    color: white; /* Color del icono */
    font-size: 24px; /* Tamaño del icono */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cart-button {
    position: relative; /* Necesario para posicionar el contador */
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #D44D33; /* Color del fondo del contador */
    color: white; /* Color del texto */
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}