/* Encabezado Superior */
.top-bar {
    background-color: #660022; /* Color de fondo */
    color: #003366; /* Azul Oscuro */
    display: flex;
    justify-content: space-between; /* Distribuye el contenido a los extremos */
    align-items: center;
    padding: 30px 45px; /* Añade padding en los extremos */
}

/* Contenedor de iconos de redes sociales y carrito */
.top-bar .icon-container {
    display: flex;
    align-items: center;
    gap: 20px; /* Ajusta el espacio entre iconos si es necesario */
}

/* Estilo de íconos de redes sociales y carrito */
.top-bar .icon-container a {
    color: #bad1c9; /* Color de los iconos */
    font-size: 2rem;
    text-decoration: none; /* Elimina subrayado en enlaces */
    background: none; /* Elimina el fondo */
    border: none; /* Elimina bordes si los hay */
    padding: 0; /* Elimina el padding si lo hay */
}

/* Estilo de logo */
.top-bar .logo-img {
    flex: 1; /* Ocupa el espacio restante para centrar el logo */
    display: flex;
    justify-content: center; /* Centra el logo horizontalmente */
}

.top-bar .logo-img img {
    height: 60px; /* Ajusta el tamaño del logo si es necesario */
}

/* Barra de Navegación */
.navbar {
    background-color: #ebe5ce; /* Beige Claro */
}


.navbar-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar-nav .nav-item {
    margin: 0 15px; /* Ajusta el margen entre los elementos del menú */
}

.navbar-nav .nav-link {
    color: #939490; /* Azul Oscuro */
    text-transform: uppercase;
    font-weight: 600; /* Hace el texto más grueso */
    font-family: 'Arial', sans-serif; /* Cambia la fuente si es necesario */
    font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
}

.navbar-nav .nav-link:hover {
    color: #D4A017; /* Amarillo Ocre */
}

/* Botón Toggler */
.navbar-toggler-icon {
    background-color: transparent; /* Eliminar el fondo del ícono del menú móvil */
}
