html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Asegura que el footer esté al final de la página */
footer {
    margin-top: auto;
}

/* Estilo del contenedor del carrito */
.shopping-cart-container {
    flex: 1;
    padding: 20px;
    background-color: rgba(248, 244, 227, 0.8); /* Beige */
    border-radius: 0; /* Elimina el redondeo */
    box-shadow: none; /* Elimina la sombra */
    margin: 0; /* Elimina el margen */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es demasiado largo */
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
    height: 100%; /* Asegura que el contenedor ocupe el alto completo disponible */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total del contenedor */
}

/* Estilo del título del carrito */
h1 {
    color: #333; /* Texto oscuro */
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Bona Nova', serif; /* Fuente personalizada */
    text-align: center;
}

/* Estilo para los elementos de la lista del carrito */
.cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    color: #333; /* Texto oscuro */
    font-family: 'Arial', sans-serif; /* Fuente moderna */
}

.cart-item h3 {
    margin: 0;
    font-size: 20px;
}

.cart-item p {
    margin: 0;
    font-size: 18px;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    background-color: #D44D33; /* Color de los botones */
    color: #FFFFFF; /* Color del texto en los botones */
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.quantity-controls button:hover {
    background-color: #B43A29; /* Color al pasar el ratón por encima */
}

.quantity-controls .quantity {
    font-size: 18px;
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #FFFFFF; /* Fondo blanco para la cantidad */
    color: #D44D33; /* Color del texto de la cantidad */
    border-radius: 4px;
}

.remove-button {
    background-color: #FF6F61; /* Color para el botón de eliminar */
    color: #FFFFFF; /* Color del texto en el botón */
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #D9534F; /* Color al pasar el ratón por encima */
}

/* Estilo para el total del carrito */
.cart-total {
    margin-top: 20px;
    text-align: right;
}

.cart-total h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Texto oscuro para el total */
    font-family: 'Bona Nova', serif; /* Fuente personalizada */
}
